image: ubuntu/lts
packages:
  - libasound2-dev
  - libc6-dev
  - libglu1-mesa-dev
  - libgl1-mesa-dev
  - libxcursor-dev
  - libxi-dev
  - libxinerama-dev
  - libxrandr-dev
  - libxxf86vm-dev
  - pkg-config
  - golang
sources:
  - https://github.com/hajimehoshi/ebiten#{{.Commit}}
tasks:
  - build: |
      cd ebiten
      go build -tags=example ./...
