body {
  font-family: sans-serif;
}
img.example {
  background-color: #000;
  border-color: #999;
  border-style: solid;
  border-width: 1px;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
pre {
  background: #eee;
  padding: 1em;
}
