@import 'https://fonts.googleapis.com/css?family=Play:400,700';
@import 'https://fonts.googleapis.com/css?family=Roboto:400,700';

body {
  background-color: #f5f5f5;
  font-family: 'Roboto', sans-serif;
}

h1, h2 {
  margin-top: 1rem;
}

h1, h2, h3, h4, h5, h6, .navbar, .lead {
  font-family: 'Play', sans-serif;
}

h1, h2, h3, h4, h5, h6, .navbar-brand {
  font-weight: 700;
}

img.example {
  background-color: #000;
  border-color: #666;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 1rem;
  padding: 0;
}

header {
  background-color: #ddd;
}

header a {
  color: #666 !important;
}

footer {
  background-color: #666;
  color: #fff;
  margin-top: 1.42857143rem;
  padding-top: 1rem;
  padding-bottom: 1px;
}

footer a {
  color: #fff !important;
}

iframe {
  background-color: #000;
  border-color: #ddd;
  border-style: solid;
  border-width: 1px;
  box-sizing: content-box;
}

.hljs {
  background: transparent;
}
