body {
  background-color: #fff;
  color: #657378; /* 5010-B */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h2, h3, h4, h5, h6, .navbar, .lead {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

dt {
  color: #4c595e; /* 6010-B */
  font-weight: normal;
}

.img-thumbnail {
  background-color: #000;
  border-color: #657378;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 1rem;
  padding: 0;
}

pre.card-body {
  margin-bottom: 0;
}

nav {
  background-color: #657378;
  color: #fff;
}

nav a {
  color: #fff !important;
}

.nav {
  height: 40px;
}

.navbar-brand {
  padding: 0;
}

.navbar-brand img {
  width: 40px;
  height: 40px;
}

.jumbotron {
  background-color: #fff;
}

footer {
  background-color: #657378;
  color: #fff;
  margin-top: 1.42857143rem;
  padding-top: 1rem;
  padding-bottom: 1px;
}

footer a {
  color: #fff !important;
}

iframe {
  background-color: #000;
  border-color: #ddd;
  border-style: solid;
  border-width: 1px;
  box-sizing: content-box;
}

.hljs {
  background: transparent;
}
