@import 'https://fonts.googleapis.com/css?family=Play:400,700';
@import 'https://fonts.googleapis.com/css?family=Roboto:400,700';

body {
  background-color: #f5f5f5;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, .navbar, .lead {
  font-family: 'Play', sans-serif;
}

h1, h2, h3, h4, h5, h6, .navbar-brand {
  font-weight: 700;
}

img.example {
  background-color: #000;
}

header {
  background-color: #dddddd;
}

header a {
  color: #666 !important;
}

footer {
  background-color: #666666;
  color: #fff;
  margin-top: 1.42857143em;
  padding-top: 1em;
}

footer a {
  color: #fff !important;
}

iframe {
  border-width: 0;
  box-sizing: content-box;
}

.hljs {
  background: transparent;
}
