@import 'https://fonts.googleapis.com/css?family=Roboto:400,500,700,900';

body {
  font-family: 'Roboto', sans-serif;
}

h1 small {
  position: relative;
  top: -0.1em;
}

img.example {
  background-color: #000;
}

header {
  background-color: #dddddd;
}

header a {
  color: #666 !important;
}

footer {
  background-color: #666666;
  color: #fff;
  padding-top: 1em;
}

footer a {
  color: #fff !important;
}

iframe {
  border-width: 0;
  box-sizing: content-box;
}
