@import 'https://fonts.googleapis.com/css?family=Play:400,700';

body {
  background-color: #f5f5f5;
  font-family: 'Play', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

header h1 small {
  position: relative;
  top: -0.1em;
}

img.example {
  background-color: #000;
}

header {
  background-color: #dddddd;
}

header a {
  color: #666 !important;
}

footer {
  background-color: #666666;
  color: #fff;
  padding-top: 1em;
}

footer a {
  color: #fff !important;
}

iframe {
  border-width: 0;
  box-sizing: content-box;
}
